.challengesectionbox {
    border: 2px solid black;
    background-color: white;
    color: black;
}

.challengedetailpage{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.responsechallenges{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
}

.leftpart{
    display: flex;
    flex-direction: column;
    float: left;
    margin-right: 2px;
}

.statsbox{
    height: 270px;
    width: 280px;
    background-color: red;
    color: white;
    margin-top: 4px;
    border: 1px solid red;
}

.rightpart{
    display: flex;
    flex-direction: column;
    float: right;
    margin-left: 5px;
}

.headercontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.titlestat{
    font-weight: bolder;
    font-size: 26px;
    text-decoration: underline;
}

.statslist{
    line-height: 1.2;
    text-align: left;
    padding-left: 55px;
}

.boldstat{
    font-size: 18px;
    font-weight: bolder;
}

.likedislikesbox{
    width: 278px;
    height: 124px;
    margin-left: 0px;
    margin-top: 1px;
}

.likecontainer,
.dislikecontainer,
.satisfactioncontainer{
    padding-left: 15px;
    line-height: 0.7;
}