.userform{
    width: 500px;
    height: 30px;
    border: 1.5px solid red;
    border-radius: 4px;
}

.passwordform{
    width: 500px;
    height: 30px;   
    border: 1.5px solid red;
    border-radius: 4px;
}

.passwordpart{
    margin-top: 20px;
}

.pictureplank{
    width: 550px;
    margin-top: 30px;
    border-radius: 35px;
}

.userlabel{
    margin-right: 427px;
    color: red;
}

.passwordlabel{
    margin-right: 433px;
    color: red;
}

.loginbutton {
    box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#ce0100;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
    margin-top: 15px;
}